AZURE_OPENAI_ENDPOINT="https://{your-custom-endpoint}.openai.azure.com/"
AZURE_OPENAI_API_KEY="{your-api-key}"
AZURE_OPENAI_DEPLOYMENT_NAME="{your-deployment-name}"
AZURE_OPENAI_MODEL_NAME="{your-model-name}"
CREWAI_DISABLE_TELEMETRY=1